[class*="col-"] { margin-bottom: 20px; }
img { width: 100%; }
body { margin-top: 10px; }

[class*="col-"], footer {
border: 2px solid black;
border-radius: 6px;
line-height: 40px;
text-align: left;
font: 22px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
text-align: left;
}

.col-md-6.msg_gabrielle{
  background-color: #e9e9e9;
  border: 2px solid #e9e9e9;
  line-height: 40px;
  color: black;
}

.col-md-6.msg_florian{
  background-color: #3c7845;
  border: 2px solid #3c7845;
  line-height: 40px;
  color: white;
}

.col-md-12.quote_gabrielle{
  background-color: #a5bca8;
  border: 2px solid #a5bca8;
  line-height: 40px;
  color: black;
}

.col-md-12.quote_florian{
  background-color: #b2c9b5;
  border: 2px solid #b2c9b5;
  line-height: 40px;
  color: black;
}

.col-md-12.name_gabrielle{
  background-color: #a5bca8;
  border: 2px solid #a5bca8;
  line-height: 40px;
  margin-top: 10px;
  color: black;
}

.col-md-12.name_florian{
  background-color: #b2c9b5;
  border: 2px solid #b2c9b5;
  line-height: 40px;
  margin-top: 10px;
  color: black;
}
